.navigation,
.footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  background-color: var(--element-background);
  padding: 1.25rem 2.25rem;
}
.navigation p {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin: 0;
  margin-left: 2.5rem;
  color: #ffffff;
  text-transform: uppercase;
}
.menu__icon:hover {
  cursor: pointer;
}
.inner__elements {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.25rem;
  background-color: #1c1e1f;
}
.sidebar__element {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-color: var(--element-background);
}
.bold {
  font-weight: 400;
}
.row--centered {
  display: flex;
  align-items: center;
}
.footer p {
  justify-self: center;
  font-size: 1.4rem;
  font-weight: 200;
  font-style: italic;
  margin: 0;
  color: #ffffff;
}
.githubLogo {
  justify-self: end;
}
.overview__group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  max-width: 100%;
}
.overview__subGroup {
  display: flex;
  gap: 2rem;
}
.overview__element {
  background-color: var(--element-background);
  border-radius: 1rem;
  padding: 3rem;
  width: 100%;
}
.label {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
  margin: 0;
  color: #a4a4a4;
  text-transform: uppercase;
  border-bottom: 1px solid #a4a4a4;
}
.value {
  font-size: 5rem;
  color: #ffffff;
  margin: 1.75rem 0 0 0;
}

#mainChart {
  grid-area: main-chart;
  display: grid;
  place-items: center;
  height: 50vh;
  background-color: var(--element-background);
  border-radius: 1rem;
  padding: 3rem;
  margin: 0 2rem 2rem 2rem;
}
