
#dashboard {
    background-color: var(--dashboard-background);
    display: grid;
    gap: 20px;
    padding: 20px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-areas:
    "main-chart main-chart vaccinations vaccinations"
    "hospitalisations hospitalisations testings testings";
}
#mainChart {
    grid-area: main-chart;
    display: grid;
    place-items: center;
}
#vaccinationCharts {
    display: grid;
    background-color: var(--dashboard-background);
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d";
    grid-area: vaccinations;
}
#hospitalizationChart {
    grid-area: hospitalisations;
}
#PcrTestingChart {
    grid-area: testings;
}
#FirstVaccChart {
    grid-area: a;
}
#SecondVaccChart {
    grid-area: b;
}
#BoosterVaccChart {
    grid-area: c;
}
#RValueChart {
    grid-area: d;
}
.dashboard__element {
    display: grid;
    place-items: end;
    background-color: var(--element-background);
    border-radius: 15px;
    padding: 20px;
}