#dashboard {
  background-color: var(--dashboard-background);
  display: grid;
  gap: 20px;
  padding: 20px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-areas:
    "main-chart main-chart vaccinations vaccinations"
    "hospitalisations hospitalisations testings testings";
}
#mainChart {
  grid-area: main-chart;
  display: grid;
  place-items: center;
}
#vaccinationCharts {
  display: grid;
  background-color: var(--dashboard-background);
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c d";
  grid-area: vaccinations;
}
#hospitalizationChart {
  grid-area: hospitalisations;
}
#PcrTestingChart {
  grid-area: testings;
}
#FirstVaccChart {
  grid-area: a;
}
#SecondVaccChart {
  grid-area: b;
}
#BoosterVaccChart {
  grid-area: c;
}
#RValueChart {
  grid-area: d;
}
.dashboard__element {
  display: grid;
  place-items: center;
  background-color: var(--element-background);
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 2rem 2rem 2rem;
}
.number__group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.number__subGroup {
  display: flex;
}
.number__element {
  background-color: var(--element-background);
  border-radius: 1rem;
  padding: 3rem;
  margin: 1rem;
  width: 40rem;
}
.label {
  font-size: 1.6rem;
  letter-spacing: 0.35rem;
  padding-bottom: 1rem;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
.value {
  font-size: 5rem;
  color: #ffffff;
  margin: 2rem 0 0 0;
}
