#map {
  display: grid;
  position: relative;
}
.dataswitch {
  position: absolute;
  justify-self: center;
  top: 2vh;
  z-index: 1;
}
.dataswitch__button {
  margin: 0 0.5vw;
  padding: 0.75rem 1.5rem;
  font-family: var(--font);
  font-weight: 500;
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  color: #fff;
  background-color: var(--popupColor);
  border: none;
  cursor: pointer;
}
